<div class="container">
  <h1>Hello from the Answer Page 🤘</h1>
    <br />
    <div class="col-6">
      <p><%=@question%></p>
      <p>Your question was</p>
  </div>
  <div class="col-6">
    <p>The Couch says</p>
    <p><%=@answer%></p>
  </div>
  <br />
  <%= link_to "Go to ask any Question", ask_path %>
</div>
